{{/* Template with if conditions for testing */}}
{{if .show_greeting}}Hello {{.name}}!{{end}}
{{if .show_project}}Working on: {{.project}}{{end}}
{{if .debug_mode}}Debug: {{.debug_info}}{{end}}
Done.